body{ background:#E0E0E0; }
a{ color:#00F; }
.more { position:absolute; right:3px; bottom:8px; font-size:16px;  }
.more:hover{ text-decoration:none; color:#F90; }
#container{ margin:0 auto; width:1002px; height:1085px; position:relative; }
#content{ width:1002px; height:916px; background:url(../images/bg.gif) center no-repeat; }
#geekIntro{ width:1002px; height:315px; padding-top:30px; }
.geek_intro{ position:relative; width:420px; height:313px; float:left; margin-left:50px; line-height:23px; color:#666; font-size:16px; display:inline; }
.text{ line-height:26px; }
.geek_img_intro{ position:relative; border:#99cc33 groove; width:420px; height:313px; float:right; margin-right:60px; display:inline; }
.scroll{ overflow:hidden; width:420px; } 
.scroll ul li{ float:left; width:420px; display:inline; } 
.scroll ul li img{ border:none; width:420px; height:313px; } 
.leftbtn{ position:absolute; width:20px; height:38px; top:137px; left:0px; cursor:pointer; font-size:60px; line-height:38px; color:#FFF; } 
.rightbtn{ position:absolute; width:20px; height:38px; top:137px; right:0px; cursor:pointer; font-size:60px; line-height:38px; color:#FFF; } 

#geekShow{ width:1002px; height:404px; margin:25px 0 70px 0; }
#member_bookShow{ width:535px; height:402px; float:left; margin-left:60px; display:inline; }
#member_intro{ background:#fff; border:#99cc33 thin solid; width:535px; height:282px; }
#member_intro ul li{ display:inline; margin-top:14px; }
#member_intro ul li li{ float:left; margin-left:13px; width:161px; height:120px; position:relative; display:inline; }
#member_intro ul li a img{ width:161px; height:120px; }
.member_information{ background:url(../images/member_information_bg.jpg); filter:alpha(opacity=60);opacity:0.6; z-index:1000; position:absolute; left:0px; bottom:0px; width:161px; height:30px; display:block; }
.member_information span{ display:block; width:161px; height:30px; position:absolute; left:0px; bottom:0px; color:#FFF; text-align:center; font-size:14px; line-height:30px; }
.book_intro{ position:relative; background:#fff; border:#99cc33 thin solid; width:535px; height:94px; margin-top:23px; }
.book_intro ul{ padding:10px 0 0 10px; }
.book_intro ul li a{ line-height:23px; color:#666; font-size:14px; }
.book_intro ul li a:hover{ color:#F90; }
#projectList{ position:relative; background:#fff; border:#6F3 thin solid; width:285px; height:402px; float:right; margin-right:60px; display:inline; padding-top:0px; }
.h3{ background:#B7EFB4; width:275px; height:33px; color:#FFF; font-size:22px; line-height:33px; padding-left:10px; }
#projectList ol{ padding:10px 0 0 35px; }
#projectList ol li { list-style-type:decimal; }
#projectList ol li a{ line-height:25px; color:#666; font-size:15px; }
#projectList ol li a:hover{ color:#F90; }