.webpageafter{ background:#fff; }
#main-content{ margin:0 auto; padding:0; position:relative; width:1002px; height:1085px; background:url(../images/background.gif); }
#learn-center .circle-nav { overflow:hidden; width:377px; height:494px; float:left; margin-left:43px; background:url(images/quanquan.gif); }
#learn-center .r-intro { border:#afd51d thin solid; width:450px; height:475px; background:#f7fffe; margin-left:456px;" }
#div{ left:70px; top:760px; padding:0; position:absolute; width:874px; height:188px; margin-top:30px; clear:both; background:#fff; }
#left{ float:left; }
#left img{ width:40px; height:188px; border:none; }
#div1{ margin:0 10px; float:left; width:770px; height:188px; background:#FFF; position:relative; overflow:hidden; cursor:pointer; }
#div1 ul{ left:0px; top:10px; height:168px; position:absolute; }
#div1 ul li{ list-style:none; float:left; width:180px; height:168px; margin-left:10px; }
#div1 ul li img{ border:none; width:180px; height:168px; }
#right img { width:40px; height:188px; border:none; }
#learn-center{ clear:both; width:1002px; height:475px; margin-top:84px; }

.introductioniframe{ margin:0 auto; color:#129BB4; width:400px; }
.introductioniframe h1{ text-align:center; }
.iframeol{ width:380px; margin:auto; }
.introductioniframe ol li{ line-height:27px; }

#footer { margin-top:300px; }