body{ background:#E0E0E0; }
#container{ margin:0 auto; width:1002px; height:169px; }

#content{ width:1002px; height:873px; padding-top:45px; margin:0 auto; background-image:url(../images/content-bg.gif);  }
.content-time{ font-size:20px; }
/* 2013~2014*/
.content-one{ width:790px; margin-left:84px; padding-left:45px; margin-bottom:15px; height:190px; position:relative; background:url(../images/1.gif) no-repeat; filter:alpha(opacity=100);-khtml-opacity:1;-moz-opacity:1;opacity:1; }
.content-one:hover{ background:url(../images/1.gif) no-repeat; filter:alpha(opacity=100);-khtml-opacity:1;-moz-opacity:1;opacity:1; }
.content-one span{ margin-left:10px; text-align:center;	 margin-top:25px; width:18px; height:120px; float:left; color:#FFF;	}
.content-one div{ width:653px; height:160px; position:absolute; right:68px; bottom:2px; }
.content-one div ul{ width:633px; height:140px; margin:0; padding:10px ; list-style:none; }
.content-one div ul li{ width:593px; height:28px; margin:0 20px; text-align:center; border-bottom: dotted 0.3px #D9D9D9;}
.content-one div ul li span{ margin:0 0 0 0; height:28px; font-size:16px; }
		
/* 2012~2011*/
.content-two{ width:790px; margin-left:84px; margin-bottom:30px; padding-left:45px; height:180px; position:relative; background:url(../images/2.gif) no-repeat; filter:alpha(opacity=70); opacity:0.7; }
.content-two:hover{ background:url(../images/2.gif) no-repeat; filter:alpha(opacity=100); opacity:1; }
.content-two span{ margin-left:10px; text-align:center;	margin-top:12px; width:18px; height:120px; float:left; color:#FFF; }
.content-two div{ width:653px; height:160px; position:absolute; right:68px; bottom:2px; }
.content-two div ul{ width:633px; height:140px; margin:0; padding:10px; list-style:none; }
.content-two div ul li{ width:593px; height:28px; margin:0 20px; border-bottom: dotted 0.3px #D9D9D9;}
.content-two div ul li span{ margin:0; height:28px; font-size:16px; }

/* 2010~2009*/
.content-three{ width:790px; margin-left:84px; margin-bottom:20px; padding-left:45px; height:182px; position:relative; background:url(../images/3.gif) no-repeat; filter:alpha(opacity=60);-khtml-opacity:0.6;-moz-opacity:0.6;opacity:0.6; }
.content-three:hover{ background:url(../images/3.gif) no-repeat; filter:alpha(opacity=100);-khtml-opacity:1;-moz-opacity:1;opacity:1; }
.content-three span{ margin-left:10px; text-align:center; margin-top:52px; width:18px; height:120px; float:left; color:#FFF; }
.content-three div{ width:653px; height:160px; position:absolute; right:68px; bottom:21px; }
.content-three div ul{ width:633px; height:140px; margin:0; padding:10px ; }
.content-three div ul li{ width:593px; height:28px; margin:0 20px; border-bottom: dotted 0.3px #D9D9D9;}
.content-three div ul li span{ margin:0; height:28px; font-size:16px; }

/* 2008~2007*/
.content-four{ width:790px; margin-left:84px; margin-top:0px; padding-left:45px; height:178px; position:relative; background:url(../images/4.gif) no-repeat; filter:alpha(opacity=50); opacity:0.5; }
.content-four:hover{ background:url(../images/4.gif) no-repeat; filter:alpha(opacity=100); opacity:1; }
.content-four span{ margin-left:10px; text-align:center; margin-top:52px; width:18px; height:120px; float:left; color:#FFF;	}
.content-four div{ width:655px; height:160px; position:absolute; right:68px; bottom:18px; }
.content-four div ul{ width:633px; height:140px; margin:0; padding:10px ; list-style:none; }
.content-four div ul li{ width:593px; height:28px; margin:0 20px; border-bottom: dotted 0.3px #D9D9D9;}
.content-four div ul li span{ margin:0; height:28px; font-size:16px; }

#footer{ margin-top:40px; }

	