body{ background:#E0E0E0; }
#container{ margin:0 auto; padding:0; width:1002px; height:auto; }
#main{ width:1002px; height:916px; background:url(../images/main_bg.gif) center no-repeat; }
#main .photo{ width:870px; height:416px; position:relative; }
#main .ph {  border:1px solid #666; width:118px; height:118px; position:absolute; -moz-transform:rotate(44deg); -webkit-transform:rotate(44deg); -o-transform:rotate(44deg); transform:rotate(44deg); }
#main .ph div { width:119px; height:119px; border:1px solid #666; background:#B2B2B2; display:none; filter:alpha(opacity=70); opacity:0.7;  }
#main .ph_1{ top:95px; left:28px; background:url(../images/m_r1.jpg) center no-repeat; }
#main .ph_1:hover .ph_intro1{ display:block; cursor:pointer; }
#main .text{ width:60px; height:70px; margin-top:28px; margin-left:32px; text-align:center; z-index:1; color:#C30; font-weight:bold; -moz-transform:rotate(-44deg); -webkit-transform:rotate(-44deg); -o-transform:rotate(-44deg); transform:rotate(-44deg); }
#main .ph_2{ top:92px; left:198px; background:url(../images/m_r2.jpg) center no-repeat; }
#main .ph_2:hover .ph_intro2{ display:block; cursor:pointer; }
#main .ph_3{ top:89px; left:368px; background:url(../images/m_r3.jpg) center no-repeat; }
#main .ph_3:hover .ph_intro3{ display:block; cursor:pointer; }
#main .ph_4{ top:84px; left:540px; background:url(../images/m_r4.jpg) center no-repeat; }
#main .ph_4:hover .ph_intro4{ display:block; cursor:pointer; }
#main .ph_5{ top:79px; left:710px; background:url(../images/m_r5.jpg) center no-repeat; }
#main .ph_5:hover .ph_intro5{ display:block; cursor:pointer; }
#main .ph_6{ top:179px; left:115px; background:url(../images/m_r6.jpg) center no-repeat; }
#main .ph_6:hover .ph_intro6{ display:block; cursor:pointer; }
#main .ph_7{ top:176px; left:285px; background:url(../images/m_r7.png) center no-repeat; }
#main .ph_7:hover .ph_intro7{ display:block; cursor:pointer; }
#main .ph_8{ top:172px; left:457px; background:url(../images/m_r8.png) center no-repeat; }
#main .ph_8:hover .ph_intro8{ display:block; cursor:pointer; }
#main .ph_9{ top:167px; left:627px; background:url(../images/m_r9.jpg) center no-repeat; }
#main .ph_9:hover .ph_intro9{ display:block; cursor:pointer; }
#main .ph_10{ top:263px; left:201px; background:url(../images/m_r10.jpg) center no-repeat; }
#main .ph_10:hover .ph_intro10{ display:block; cursor:pointer; }
#main .ph_11{ top:260px; left:372px; background:url(../images/m_r11.jpg) center no-repeat; }
#main .ph_11:hover .ph_intro11{ display:block; cursor:pointer; }
#main .ph_12{ top:255px; left:544px; background:url(../images/m_r12.jpg) center no-repeat; }
#main .ph_12:hover .ph_intro12{ display:block; cursor:pointer; }
#main .ph_13{ top:249px; left:715px; background:url(../images/m_r13.jpg) center no-repeat; }
#main .ph_13:hover .ph_intro13{ display:block; cursor:pointer; }
#timeline{ width:577px; height:27px; clear:both; margin:0 0 4px 220px; position:relative; background:url(../images/time2.gif) center no-repeat; }
#timeline .img1{ cursor:pointer; }
#timeline .img2{ margin-left:250px; cursor:pointer; }
#timeline img{ border:none; }
.year_1{ position:absolute; top:30px; left:-25px; width:102px; height:25px; display:none; }
.year_2{ position:absolute; top:30px; left:260px; width:102px; height:25px; display:none; }
#main .geek_intro{ width:1002px; height:339px; position:relative; clear:both; margin-top:18px;background:url(../images/geek_intro.gif) center no-repeat; }
#main h2{ width:1002px; height:46px; position:absolute; top:45px; line-height:46px; text-align:center; color:#008040; }
#main .geek{ margin:0 auto; width:680px; height:200px; position:absolute; top:96px; left:163px; color:#008040; line-height:24px; font-size:14px; }
#footer{ margin-top:40px; }