@charset "utf-8";
/* CSS Document */
body{
	margin:0 auto;
	padding:0;
	background:#E0E0E0;
}
#container{
	margin:0 auto;
	padding:0;
	width:1002px;
	height:auto;
}
#main{
	margin:0 auto;
	padding:0;
	width:1002px;
	height:916px;
	magin-top:10px;
	background:url(../images/project.gif) center no-repeat;
}
#main .photo{
	margin:0 auto;
	padding:0;
	width:870px;
	height:420px;
	margin-bottom:0px;
	position:relative;
}
#main .ph_1{    
	top:70px;
	left:28px;
    border:1px solid #B9B9B9;
    width:118px;
    height:118px;
	position:absolute;
	z-index:1000;
	background:url(../images/m_s1.jpg) center no-repeat;
}
#main .ph_1:hover .ph_intro1{
	display:block;
	cursor:pointer;
	z-index:1;
}
#main .ph_intro1{
    width:119px;
    height:119px;
	display:none;
	background:#B2B2B2;
	border:1px solid #666;
	filter:alpha(opacity=70); opacity:0.7;
}
#main .text{ 
	width:60px;
    height:70px;
	margin-top:30px;
	margin-left:32px;
	text-align:center;
	color:#FFF;
	color:#C30;
	font-weight:bold;s
}
#main .ph_2{    
	top:70px;
	left:198px;
    border:1px solid #666;
    width:118px;
    height:118px;
	z-index:1000;
	position:absolute;
	background:url(../images/m_s2.jpg) center no-repeat;
}
#main .ph_2:hover .ph_intro2{
	display:block;
	cursor:pointer;
	
}
#main .ph_intro2{
    width:119px;
    height:119px;
	display:none;
	background:#B2B2B2;
	border:1px solid #666;
	filter:alpha(opacity=70); opacity:0.7;
}
#main .ph_3{    
	top:70px;
	left:368px;
    border:1px solid #666;
    width:118px;
    height:118px;
	z-index:1000;
	position:absolute;
	background:url(../images/m_s3.jpg) center no-repeat;
   
}
#main .ph_3:hover .ph_intro3{
	display:block;
	cursor:pointer;
}
#main .ph_intro3{
    width:119px;
    height:119px;
	display:none;
	background:#B2B2B2;
	border:1px solid #666;
	filter:alpha(opacity=70); opacity:0.7;
}
#main .ph_4{    
	top:70px;
	left:540px;
    border:1px solid #666;
    width:118px;
    height:118px;
	z-index:1000;
	position:absolute;
	background:url(../images/m_s4.jpg) center no-repeat;
   
}
#main .ph_4:hover .ph_intro4{
	display:block;
	cursor:pointer;
}
#main .ph_intro4{
    width:119px;
    height:119px;
	display:none;
	background:#B2B2B2;
	border:1px solid #666;
	filter:alpha(opacity=70); opacity:0.7;
}
#main .ph_5{    
	top:70px;
	left:710px;
    border:1px solid #666;
    width:118px;
    height:118px;
	z-index:1000;
	position:absolute;
	background:url(../images/m_s5.jpg) center no-repeat;
   
}
#main .ph_5:hover .ph_intro5{
	display:block;
	cursor:pointer;
}
#main .ph_intro5{
    width:119px;
    height:119px;
	display:none;
	background:#B2B2B2;
	border:1px solid #666;
	filter:alpha(opacity=70); opacity:0.7;
}
#main .ph_6{    
	top:175px;
	left:115px;
    border:1px solid #666;
    width:118px;
    height:118px;
	z-index:100;
	position:absolute;
	background:url(../images/m_s6.jpg) center no-repeat;
   
}
#main .ph_6:hover .ph_intro6{
	display:block;
	cursor:pointer;
}
#main .ph_intro6{
    width:119px;
    height:119px;
	display:none;
	background:#B2B2B2;
	border:1px solid #666;
	filter:alpha(opacity=70); opacity:0.7;
}
#main .ph_7{    
	top:175px;
	left:285px;
    border:1px solid #666;
    width:118px;
    height:118px;
	z-index:100;
	position:absolute;
	background:url(../images/m_s7.jpg) center no-repeat;
}
#main .ph_7:hover .ph_intro7{
	display:block;
	cursor:pointer;
}
#main .ph_intro7{
    width:119px;
    height:119px;
	display:none;
	background:#B2B2B2;
	border:1px solid #666;
	filter:alpha(opacity=70); opacity:0.7;
}
#main .ph_8{ 
	top:175px;
	left:457px;
    border:1px solid #666;
    width:118px;
    height:118px;
	z-index:100;
	position:absolute;
	background:url(../images/m_s8.jpg) center no-repeat;
}
#main .ph_8:hover .ph_intro8{
	display:block;
	cursor:pointer;
}
#main .ph_intro8{
    width:119px;
    height:119px
	display:none;
	display:none;
	background:#B2B2B2;
	border:1px solid #666;
	filter:alpha(opacity=70); opacity:0.7;
}
#main .ph_9{    
	top:175px;
	left:627px;
    border:1px solid #666;
    width:118px;
    height:118px;
	z-index:100;
	position:absolute;
	background:url(../images/m_s9.jpg) center no-repeat;
    
}
#main .ph_9:hover .ph_intro9{
	display:block;
	cursor:pointer;
}
#main .ph_intro9{
    width:119px;
    height:119px;
	display:none;
	background:#B2B2B2;
	border:1px solid #666;
	filter:alpha(opacity=70); opacity:0.7;
}
#main .ph_10{    
	top:278px;
	left:201px;
    border:1px solid #666;
    width:118px;
    height:118px;
	position:absolute;
	background:url(../images/m_s10.jpg) center no-repeat;
}
#main .ph_10:hover .ph_intro10{
	display:block;
	cursor:pointer;
}
#main .ph_intro10{
    width:119px;
    height:119px;
	display:none;
	background:#B2B2B2;
	border:1px solid #666;
	filter:alpha(opacity=70); opacity:0.7;
}
#main .ph_11{    
	top:278px;
	left:372px;
    border:1px solid #666;
    width:120px;
    height:120px;
	position:absolute;
	background:url(../images/m_s11.jpg) center no-repeat;
   
}
#main .ph_11:hover .ph_intro11{
	display:block;
	cursor:pointer;
}
#main .ph_intro11{
    width:121px;
    height:121px;
	display:none;
	background:#B2B2B2;
	border:1px solid #666;
	filter:alpha(opacity=70); opacity:0.7;
}
#main .ph_12{    
	top:278px;
	left:544px;
    border:1px solid #666;
    width:119px;
    height:119px;
	position:absolute;
	background:url(../images/m_s12.jpg) center no-repeat;
    
}
#main .ph_12:hover .ph_intro12{
	display:block;
	cursor:pointer;
}
#main .ph_intro12{
    width:120px;
    height:120px;
	display:none;
	background:#B2B2B2;
	border:1px solid #666;
	filter:alpha(opacity=70); opacity:0.7;
}
#main .ph_13{    
	top:278px;
	left:715px;
    border:1px solid #666;
    width:119px;
    height:119px;
	position:absolute;
	background:url(../images/m_s13.jpg) center no-repeat;
   
}
#main .ph_13:hover .ph_intro13{
	display:block;
	cursor:pointer;
}
#main .ph_intro13{
    width:120px;
    height:120px;
	display:none;
	background:#B2B2B2;
	border:1px solid #666;
	filter:alpha(opacity=70); opacity:0.7;
}
#timeline{
	width:577px;
	height:27px;
	clear:both;
	margin:0 0 4px 220px;
	position:relative;
	background:url(../images/time2.gif) center no-repeat;
}
#timeline .img1{
	cursor:pointer;
}
#timeline .img2{
	margin-left:250px;
	cursor:pointer;
}
#timeline img{
	border:none;
}
.year_1{
	position:absolute;
	top:30px;
	left:-25px;
	width:102px;
	height:25px;
	display:none;
}
.year_2{
	position:absolute;
	top:30px;
	left:260px;
	width:102px;
	height:25px;
	display:none;
}
#main .geek_intro{
	width:1002px;
	height:339px;
	position:relative;
	clear:both;
	margin-top:18px;
	background:url(../images/geek_intro.gif) center no-repeat;
}
#main h2{
	margin:0;
	padding:0;
	width:1002px;
	height:46px;
	position:absolute;
	top:45px;
	line-height:46px;
	text-align:center;
	color:#008040;
}
#main .geek{
	margin:0 auto;
	width:680px;
	height:200px;
	position:absolute;
	top:96px;
	left:163px;
	color:#008040;
	line-height:24px;
	font-family:"微软雅黑";
}
#footer{
	text-align:center;
	margin:auto;
	width:1002px;
	height:60px;
	margin-top:26px;
	line-height:25px;
    color:#666;
	font-size:16px;
}
#footer a{
	color:#666;
	font-family:微软雅黑;
	
}
#footer a:hover{
	color:#F90;
}